$font-size-tittle : 80px;
$border-color : #ccc;
$font-family: Arial, sans-serif;
$shadow: '0 2px 6px rgba(0, 0, 0, 0.1)';
$font-color: #333;
$bg-default: #ffffff;
$bg-hover: darkkhaki;
$bg-active: darkgreen;